.features{
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    padding: 5rem 10rem;
    &__feature{
        &--1{
            
        }
        &--2{
            
        }
        &--3{
            
        }
        
    }
    &__icon{
        color:$color-primary;
    }
    
}