.why-jango{
    display: grid;
    grid-template-rows: min-content 4rem min-content min-content;
    grid-template-columns: min-content 1fr 1fr;
    grid-column-gap: 8rem;
    padding: 10rem;
    background-color: $color-bg-grey;
    &__description{
        
        grid-row: 3/4;
        grid-column: 1/3;
        width: 45%;
        background-color: $color-bg-white;
        z-index: 2;
        padding: 2rem;

    }
    &__image{
        display: block;
        max-height: 37rem;
        grid-row: 1/-1;
        grid-column: 2/3;
        z-index: 1;

    }
}