.service-list{
    margin-top: 3rem;
    grid-row: 3/4;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, 24rem);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    
    &__item{
   
        &--1{
            grid-row: 1/2;
            grid-column: 1/2;
        }
        &--2{
            grid-row: 1/2;
            grid-column: 2/3;
        }
        &--3{
            grid-row: 2/3;
            grid-column: 1/2;
        }
        &--4{
            grid-row: 2/3;
            grid-column: 2/3;
        }
        
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    &__description{
        
        color: $color-text-white;
        padding: 4rem;
        text-align: center;
        z-index: 1;
        &--1{
            background-color: $color-primary;
            
        }
        &--2{
            background-color: brown;
        }
        &--3{
            background-color: orange;
            order: 2;
        }
        &--4{
            background-color: $color-primary;
            order: 2;
        }
     
    }
    &__heading{
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__paragraph{
        color:$color-text-white;
        font-size: 1.7rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        line-height: 2.5rem;
        text-align:center;
        margin-top: 2rem;
    }
    &__button{
        background-color: transparent;
        border: 0.1rem solid white;
        padding: 0.5rem 1.5rem;
        color: $color-text-white;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 2rem;
        &:hover{
            cursor: pointer;
            background-color: $color-bg-white;
            color: $color-text-black;
        }
    }
    &__figure{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        
        &--1{
            
        }
        &--2{
            
        }
        &--3{
            order: 1;
        }
        &--4{
            order: 1;
        }
        
    }
    
    
    &__image{
        display: block;
        width: 100%;
        height: 100%;
    }
    &__image-overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        top:-100%;
        left:0;
        background-color: rgba(0,0,0,0.8);
    }
    
    &__figure:hover &__image-overlay{
        
        top:0;
        transition: 0.5s;
        
    }
    
    
    &__icon{
        &--1{
            
        }
        &--2{
            
        }
    }
}