body{
    font-family: 'Roboto', sans-serif;
    color: $color-text-primary;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}
a:focus{
    
}
.heading-secondary{
    font-size: 3rem;
    text-transform: uppercase;
    
    &--features{
        margin: 3rem 0;
    }
}
